# Assignment #1

# Setting up the workflow

## 0. Initial setup

**Note**: You don't have to turn in anything here to show that the three exercises below were completed. Submitting your assignment via your private GitHub repository will show that they have been completed.

**0.1** Setup your Docker container

**0.2** Clone the course repository

**0.3** Setup your private repository to submit assignments

# Learning Python

## 1. Syntax

**1.1** Print "Hello, World!"

**1.2** Comment out the text below.

In [112]:
Running this text without commenting it out will give an error

SyntaxError: invalid syntax (<ipython-input-112-587907b36630>, line 1)

## 2. Variables

**2.1** Create a variable named course and assign the value ESDA to it. Print the variable.

**2.2** Create a variable named data and assign the value 10 to it. Print the variable.

**2.3** Print the sum of 423 and 342, using two variables: a and b.

**2.4** Define x to be 3 and y to be 10. Create a variable called z, assign x + y to it, and print the result.

## 3. Strings

**3.1** Use the len method to print the length of the string = "CEE-690-02".

**3.2** Print the first character of the string = "ESDA".

**3.3** Print the characters from position 2 to position 6 (not included) from the string "Big data".

**3.4** Use the string's function strip() to remove the whitespace at the beginning and the end of the string " classroom ".

**3.5** Convert the value of string = "classroom" to upper case.

**3.6** Convert the value of string = "CLASSROOM" to lower case.

## 4. Operators

**4.1** Multiply 3 by 19, and print the result.

**4.2** Divide 10 by 2, and print the result.

**4.3** Replace the word OPR below with the correct operator below to determine if car is in the list vehicles

In [125]:
vehicles = ['car','truck','bus']
if 'car' OPR vehicles:
    print('car is in the list!')

SyntaxError: invalid syntax (<ipython-input-125-8b725937ef7d>, line 2)

**4.4** Replace the word OPR below with the correct operator to check if 5 is not equal to 10.

In [115]:
if 5 OPR 10:
    print('not equal!')

SyntaxError: invalid syntax (<ipython-input-115-ac876ac87019>, line 1)

**4.5** Use the correct logical operator to check if at least one of the two statements is True.

In [116]:
if (5 == 10) OPR (4 == 4):
  print("At least one of the statements is true")

SyntaxError: invalid syntax (<ipython-input-116-0e7881e4ef89>, line 1)

## 5. Lists

**5.1** Print the first and last item in the vehicles list defined below.

In [117]:
vehicles = ['car','truck','bus']

**5.2** Change the value from "bus" to "motorcycle" in the vehicles list and print the result.

In [119]:
vehicles = ['car','truck','bus']

**5.3** Use the append method to add "bicycle" to the vehicles list and print the result.

In [118]:
vehicles = ['car','truck','bus']

**5.4** Use the insert method to add "bicycle" as the second item in the vehicles list. Print the result.

In [120]:
vehicles = ['car','truck','bus']

**5.5** Use the remove method to remove "bus" from the vehicles list. Print the result.

In [121]:
vehicles = ['car','truck','bus']

## 6. Dictionaries

**6.1** Print the value of the "name" key of the course dictionary defined below.

In [122]:
course= {
    "name":"Environmental Spatial Data Analysis",
    "id":"CEE690-02",
    "semester":"Fall19",
    "year":2019
}

**6.2** Change the "year" value from 2019 to 2020 and print the revised dictionary.

**6.3** Add the key/value pair "grade" : "A" to the course dictionary. Print the revised dictionary.

**6.4** Use the pop method to remove "semester" from the course dictionary. Print the revised dictionary.

**6.5** Use the clear method to empty the course dictionary. Print the revised dictionary.

## 7. Conditionals

**7.1** Set a = 43 and b = 10. Use an if statement to print "Yes, a is greater than b." if a is greater than b.

**7.2** Using the same values of a and b, use an if statement to print "No, a is not equal to b" if a is not equal to b.

**7.3** Using the same values of a and b, use an if/else statement to print "Yes" if a is equal to b, otherwise print "No".

**7.4** Using the same values of a and b, use an if/elif/else statement to print "a is equal to b" if a is equal to b, print "a is greater than b" if a is greater than b, otherwise print "a is less than b".

**7.5** Set make1 = "Toyota", make2 = "Mercedes", make3 = "Ford", and make4 = "Ford". Print "make1 and make2 or make3 and make4 are the same" if make1 is equal to make2, or make3 is equal to make4.

## 8. Loops

**8.1** Print i as long as i is less than or equal to 9.

**8.2** Modify the loop defined above by adding a conditional statement to stop the loop if i is 5.

**8.3** Loop through and print the items in the vehicles list defined below.

In [124]:
vehicles = ["car","bus","motorcycle"]

**8.4** Modify the loop defined above such that when the item value is "bus", the loop is exited.

**8.5** Use the range function to define a list of integers from 0 to 9. Then iterate and print those values.

## 9. Functions

**9.1** Create and call a function called hello_world that prints "Hello, World!".

**9.2** Create a function called many_hello_worlds that calls the hello_world function defined above n times. The parameter n should be passed into the function. Call the function many_hello_worlds with n = 3.

**9.3** Create and call a function that computes and prints the third (1) through the twelfth elements (89) of the Fibonacci sequence.